*{
    box-sizing: border-box;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea[name=message]{
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
}

input[type=submit] {
    width: 300px;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(77, 76, 76);
}
#submit{
    text-align: center;
}
table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dad0d0;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #505050;
}
#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
img{ margin: 1em;}

body{
    background-color: black;
    color: white;
}
header{
    grid-area: header;
    background-color: black;
    grid-row: 1/2;grid-column: 1/3;
    border-bottom: solid 5px #ffffff;
}
main{
    background-color: rgb(17, 17, 17);
    grid-area: main;
    grid-row: 2/3;grid-column: 2/3;
    padding-left: 15px;
}
#rightfloat{
    float:right;
}
nav{
    grid-area: nav;
    grid-row: 2/3;grid-column: 1/2;
    background-color: black;
    position: sticky;
    top:0;
    align-self:start;
    width: 200px;
}
nav ul{
    padding-left: 3px;
    padding-top:3px;
    list-style-type: none;
}
nav li{
    padding-top:5px;
}
nav a {text-decoration: none; padding-top:5px; font-size: 25px;}
nav a:link { color: white; }
nav a:visited { color: #bdbdbd; }
nav a:hover { color: #ffc757; }
.container{
    font-family: sans-serif;
    display:grid;
    grid-template-columns: 200px,1fr;
    grid-template-rows: 100px,1fr;
    grid-template-areas:
    "header header"
    "nav main";
}
