*{
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 17);
    color: white;
}
header{
    grid-area: header;
    background-color: black;
    height: 100px;
}
nav{
    grid-area: nav;
    background-color: black; 
    font-style: serif;
    height: 900px;
    position: sticky;
}
hr{
    grid-area: hr;
    width: 100%;
}
table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dad0d0;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #505050;
}
#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
img{ margin: 1em;}
main{
    grid-area: main;
    padding-left: 15px;
}
nav ul{
    padding-left: 0;
    list-style-type: none;
}
nav a {text-decoration: none; padding-top: 10px;padding-top:1%;}
nav a:link { color: white; }
nav a:visited { color: #bdbdbd; }
nav a:hover { color: #ffc757; }
#container{
    font-family: sans-serif;
    display:grid;
    grid-template-columns: 100px,1fr;
    grid-template-rows: 100px,1px,1fr;
    grid-template-areas:
    "header header"
    "hr hr"
    "nav main";
}